<!DOCTYPE html>
<html>
<head>
    <title>前端页面监控系统详情页</title>
    <link rel='stylesheet' href='/css/reset.css'/>
    <link rel='stylesheet' href='/css/detail.css'/>
</head>
<body>
    <input type="hidden" id="site" value="<%= url %>">
    <div class="main">
        <div class="list">
            <div id="list"></div>
        </div>
        <div id="diff"></div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>